<h1>
    Title: <%= @article.title %>
</h1>

<p>
    text: <%= @article.text %>
</p>

<h3>Comments</h3>
<%= render :partial => @comments, :locals => {:comments => @comments} %>

<p><b>Add a comment:</b></p>
<%= render 'comments/form' %>

<p>
    <%= link_to "Edit article", edit_article_path %>
</p>
<p>
    <%= link_to "Back to articles", articles_path %>
</p>
