<h1>
    Title: <%= @article.title %>
</h1>

<p>
    text: <%= @article.text %>
</p>

<p><b>Add a comment:</b></p>
<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
        <%= f.label :commentor %> <br>
        <%= f.text_field :commentor %>
    </p>
    <p>
        <%= f.label :text %> <br>
        <%= f.text_area :text %> 
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<p>
    <%= link_to "Edit article", edit_article_path %>
</p>
<p>
    <%= link_to "Back to articles", articles_path %>
</p>
